* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 30px;
    background-color: hsl(209, 97%, 13%);
    /* background: rgb(8,27,133); */
/* background: linear-gradient(90deg, rgb(2, 71, 161) 4%, rgb(2, 56, 87) 41%, rgba(9,9,121,1) 67%, rgb(12, 61, 71) 100%); */
    font-family: 'Heebo', sans-serif;
}

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    /* gap: 30px; */
}
.search_input {
    width: 30%;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
}
/* .search_input:focus {
    color: #000000;
} */

.btn {
    color: #fff;
    background: #054b8dfb;
    width: 45px;
    height: 40px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: -42px;
}

.main {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.flag {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-right: 100px;
}
.information {
    display: flex;
    gap: 60px;
}
h2{
    font-size: 30px;
    margin-bottom: 20px;
}

h2,p {
    color: #fff;
}

p{
    font-weight: bolder;
}

p:not(:last-child) {
    margin-bottom: 20px;
}

.second_part {
    margin-top: 65px;
}

span {
    font-weight: lighter;
}
